.label-Balance {
  background: #fafff7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 33px;
  height: fit-content;
  width: 240px;
  padding: 10px 100px 10px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

p {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100px;
}

.balanceAmount {
  font-size: 20px;
  font-weight: 700;
}
