.SubmitButton1{
  margin-top: 30px;
  margin-bottom: 100px;
}
.cards {
  display: flex;
  flex-direction: row;
}
.cardUni {
  background: #fafff7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 33px;
  height: fit-content;
  width: 300px;
  padding: 10px 100px 10px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 30px 30px 30px 30px;
  font-family: "Roboto", sans-serif;
}
.h2Kheshav {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}
.pKheshav {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100px;

  font-weight: 300;
}

.entry {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  /* border-radius: 20px; */
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.rightEntry > p {
  font-size: 20px;
  width: 100%;
  font-weight: 700;
}

.rightEntry {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  padding-right: 0px;
}

.leftEntry {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 10px;
}

.btn {
  font-size: 30px;
}
